.background-image {
  background-size: 100%;
}
.border-style {
  margin: 0%;
  border: 10px groove green;
  width: 98.5%;
  height: 1900px;
}
.first-container {
  height: 200px;
  display: flex;
  font-size: 30px;
  font-style: italic;
}
.container-item {
  border: 7px solid rgb(179, 39, 39);
  margin: 20px;
  border-radius: 45px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.item-left {
  padding: 10px 10px 30px;
  height: 80px;
  width: 700px;
  text-align: center;
}
.item-mid {
  margin-top: 29px;
  margin-left: -150px;
  text-align: center;
  padding: 20px 20px 5px 200px;
  height: 25px;
  width: 400px;
  font-size: 20px;
}
.item-right {
  line-height: 50px;
  margin-right: 5px;
  padding: 5px 60px;
  font-size: 20px;
  width: 350px;
  text-align: center;
}
.second-container {
  width: 99.3%;
  display: flex;
  height: 800px;
}
.circle-offer {
  text-align: center;
  margin-top: 300px;
  margin-left: 50px;
  width: 40%;
}
#circle-text {
  font-weight: bolder;
  padding: 70px 0px;
  background-color: #44a99f;
  border: 5px solid gray;
  border-radius: 50%;
  width: 350px;
  height: 200px;
}
.register-here {
  background-color: white;
  border: 18px dashed red;
  margin-left: 50px;
  width: 500px;
  height: 700px;
}
#form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: rgb(243, 144, 144);
  font-weight: bold;
}
label {
  color: rgb(243, 144, 144);
  font-size: 20px;
}
input {
  text-align: center;
}
.menu {
  border-bottom: 1px outset grey;
  height: 150px;
  text-align: center;
}
.menu-text {
  border: 10px solid red;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-style: italic;
  width: 600px;
  font-size: 50px;
  margin: 30px 350px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.items {
  padding: 30px;
  background-color: cyan;
  border: 2px solid green;
  width: 300px;
  font-weight: bolder;
  color: rgb(114, 57, 168);
  margin: 30px 30px 0px 30px;
  border-radius: 20px;
  height: 180px;
}
.item-title {
  font-size: 40px;
}
.menu-hr {
  margin-left: -30px;
  margin-right: -30px;
}
.last-item {
  height: 230px;
}

.zone{
  border-top: 1px solid blue;
  margin-left: 5px;
  margin-right: 5px;
}